<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1> Price Movements for <%= @stock.name%></h1> 
	
	<% options= {library: {pointSize:0, vAxis:{format: "currency"}, legend:{position:"left"}}, xtitle:"Date", ytitle: "Price in US$"}%>
	<%=line_chart @stock_prices.pluck(:created_at, :price), options%> 
	<table class= 'table table-striped'>
		<thead>
			
			<th> Time of stockprice</th>
			<th> Price</th>
		</thead>
		<tbody>
			<% @stock_prices.each do |stock_price|%>
				<tr><td><%= time_ago_in_words(stock_price.created_at)%> ago </td>
				<td>US$<%= stock_price.price%></td></tr>
			<% end%>
		</tbody>
	</table>
				<%=will_paginate @stock_prices, renderer: BootstrapPagination::Rails%>
